.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.appHeader {

}

.appTitle {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.content {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-grow: 1;
}

.toolView {
  padding: 48px;
}
