#sidebar {
    width: 400px;
    background: #9a67ea;
    box-shadow: 5px 6px 15px grey;
}

.fileBrowser {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.fileBrowserHeader {
    padding:20px 30px 20px 30px;
    background: #320b86;
    font-size: 16pt;
    word-wrap: break-word;
}

.fileBrowserContent {
    flex-grow: 1;
    overflow: auto;
}

.fileCell {
    padding: 4px 12px 4px 12px;
    font-size: 14pt;
}

.fileCell:hover {
    background: #673ab7;
}

.selectedFileCell {
    background: #673ab7;
}
