#sidebar {
    min-width: 400px;
    height: 100%;
    background: #8561c5;
    box-shadow: 5px 6px 15px grey;
}

.fileBrowser {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.fileBrowserDropPrompt {
    flex-grow: 1;
    padding: 12px;
    background: #381f75;
    text-align: center;
    font-size: 22pt;
}

.fileBrowserPath {
    padding: 8px;
    background: #381f75;
    font-size: 10pt;
    word-wrap: break-word;
}

.fileBrowserContent {
    flex-grow: 1;
    overflow: auto;
}

.fileBrowserTitle {
    padding-left: 8px;
    line-height: 64px;
    height: 64px;
    background: #221266;
    font-size: 18pt;
}

.fileBrowserTitleText {
    padding-left: 8px;
}

.fileBrowserMenuButton {
    margin-bottom: 4px;
}

.fileBrowserInfo {
    padding: 12px;
    background: #221266;
    font-size: 14pt;
}

.fileCell {
    display: flex;
    flex-flow: row;
    padding: 8px 12px 8px 12px;
    font-size: 12pt;
}

.fileCell:hover {
    background: #6a52b3;
}

.fileCell img {
    padding-right: 8px;
}

.selectedFileCell {
    background: #673ab7;
}

.backCell {
    background: #482880;
}

.waves-effect.waves-dark-purple .waves-ripple {
    background-color: rgba(50, 1, 134, 0.66);
}

.cellIcon {
    max-height: 24px;
    margin-right: 6px;
}
